importFrom("stats", "aggregate", "filter")
importFrom("utils", "capture.output", "download.file", "glob2rx", "read.csv", "read.fwf", "read.table", "setTxtProgressBar", "txtProgressBar", "unzip", "write.csv")
importFrom(utils,globalVariables)
importFrom(ggplot2,"%+%")
importFrom(ggplot2,aes)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,geom_rect)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,xlim)
importFrom(ggplot2,ylim)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,labs)
importFrom(ggplot2,theme)
importFrom(ggplot2,ggsave)
importFrom(ggplot2,element_text)
importFrom(ggplot2,geom_point)
export(SetWorkingEnvironment)
export(LoadCmip5DataFromAdss)
export(GhcnDailyUpdate)
export(DailyExtractAll)
export(DailyQMapAll)
export(ObsDataSummary)
